<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorial</title>
</head>
<body>
    <h1>Template is return by Django Server</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores ipsa recusandae libero nulla pariatur itaque inventore! Praesentium fugiat blanditiis facere nesciunt id sint quis. Consectetur corrupti aspernatur incidunt tempora quisquam numquam?</p>
</body>
</html>
